<ul>
	{{#each this}}
        <li class="autocomplete-entry">
            <img src="{{{avatar avatar}}}" alt="{{name}}" title="{{name}}" width="16px" height="16px">
            <span>{{name}}</span>
        </li>
	{{/each}}
</ul>
