<span class="ac-header-title-main">
    {{name}}
</span>

<span class="ac-header-title-sub">
    {{#if memberinfo}}
        <span class="ac-room-online">{{memberinfo.online}} online</span>
        <span class="ac-header-title-sub-sep">/</span>
        <span class="ac-room-count">{{memberinfo.count}} members</span>
    {{else}}
        loading…
    {{/if}}
</span>
