html, body {
    margin: 0;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    tab-size: 4;
    background: #fafafa;
}

a {
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 100, 200);
}

a, button, input {
    touch-action: manipulation; /* IE11+ */
    -ms-touch-action: manipulation; /* IE10 */
}

.clear {
    clear: both;
}

.textLeft {
    text-align: left;
}

.textCenter {
    text-align: center;
}

.textRight {
    text-align: right;
}

.left {
    float: left;
}

.center {
    margin: 0 auto;
}

.right {
    float: right;
}

.timelink {
    color: #666;
    font-weight: normal;
}

.timelink:hover {
    text-decoration: underline;
}

.no-display,
.mobile-only {
    display: none;
}

.button-no-style {
    border: 0;
    background: transparent;
    font-size: inherit;
    font-style: inherit;
    color: inherit;
    display: inline;
    cursor: pointer;
}

textarea,
input {
    outline: none;
    box-shadow: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.info {
    border-radius: 3px;
    padding: 15px;
    text-align: center;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .05);
    margin: 8px;
}

::-webkit-scrollbar {
    width: 4px;
    height: 16px;
}

::-webkit-scrollbar-track {
    background-color: #ddd;
}

::-webkit-scrollbar-thumb {
    background-color: #677b92;
    border-left: 1px solid #ccc;
    transition: all 1s;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3674B3;
}

::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}

::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, .2);
}
