#chat {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#left-col {
    flex-grow: 0;
    flex-shrink: 0;
    width: 180px;
    background: #eee;
    position: relative;
    border-right: 1px solid rgba(0, 0, 0, .1);
}

#main-col {
    flex-grow: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    border-right: 1px solid rgba(0, 0, 0, .15);
    background: #fefefe;
}

#right-col {
    flex-grow: 0;
    flex-shrink: 0;
    width: 280px;
    position: relative;
    background: #f6f6f6;
    display: flex;
    flex-flow: column;
}

#room-infos, #stars {
    box-shadow: 0 0 8px rgba(0, 0, 0, .1);
    border: 1px solid rgba(0, 0, 0, .15);
    border-right: 0;
    border-left: 0;
    background: #fefefe;
}

.room-info-people {
    border-top: 1px solid rgba(0, 0, 0, .1);
    margin: 0 -10px -10px -10px;
    padding: 10px 10px 6px 10px;
    background: rgba(0, 0, 0, .03);
    box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .1) inset;
}

#room-infos {
    border-top: 0;
}

#stars {
    border-bottom: 0;
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 5px;
    flex: 2;
}

#transcript {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: scroll;
    background: #fff;
}

@media only screen and (max-width: 1023px) {
    #right-col {
        position: fixed;
        top: 0;
        left: 161px;
        right: 0;
        width: auto;
        overflow: hidden;
        background: rgba(255, 255, 255, .9);
        z-index: 3;
        border-bottom: 1px solid rgba(0, 0, 0, .2);
        box-shadow: 0 3px 3px -3px rgba(0, 0, 0, .1);
        height: 50px;
    }

    #left-col {
        width: 160px;
    }

    #stars {
        display: none;
    }
}

#above_input {
    position: relative;
    height: 0;
}

#autocomplete {
    position: absolute;
    left: 10px;
    bottom: -1px;
    z-index: 5;
    background: #fafafa;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

#autocomplete ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#autocomplete li {
    padding: 2px 8px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin: 0;
}

#autocomplete li:last-of-type {
    border-bottom: 0;
}

.autocomplete-entry {
    line-height: 26px;
}

.autocomplete-entry img {
    line-height: 26px;
    vertical-align: middle;
}

.autocomplete-entry span {
    line-height: 26px;
    vertical-align: middle;
    display: inline-block;
}

#autocomplete-current {
    background: rgba(0, 100, 200, .85);
    color: #fafafa;
}

#new-messages-indicator {
    width: 300px;
    margin: 0 auto;
    position: relative;
}

#new-messages {
    z-index: 3;
    position: absolute;
    bottom: -1px;
    background: rgba(250, 250, 250, .85);
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    color: #058;
    padding: 6px 8px;
    border: 1px solid rgba(0, 0, 0, .1);
    text-align: center;
    width: 100%;
    display: none;
    cursor: pointer;
}

#error-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .8);
    display: flex;
    padding: 20px;
    z-index: 100000;
}

#error {
    margin: auto;
    font-weight: bold;
    background: #e74c3c;
    color: #eee;
    padding: 20px;
}

#nav {
    height: 54px;
    background: rgb(0, 100, 200);
    line-height: 52px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    text-align: center;
    color: #eeeeee;
    font-weight: bold;
}

#nav-inner {
    display: flex;
    justify-content: space-between;
    max-width: 970px;
    text-align: left;
    margin: 0 auto;
    padding: 0 15px;
}

.flex-left {
    align-self: flex-start;
}

.flex-right {
    align-self: flex-end;
}

#nav img {
    vertical-align: middle;
}

#nav h1 {
    font-family: 'Pacifico', cursive;
    font-weight: normal;
    font-size: 26px;
    line-height: 52px;
    margin: 0 0 0 20px;
    padding: 0;
    display: inline-block;
    color: #fafafa;
    vertical-align: middle;
}

#content-fw {
    margin: 0 auto;
    padding: 15px 0;
    max-width: 1000px;
}

#room-overview {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.room-card {
    margin: 8px 4px 0 4px;
    width: 200px;
    flex: 1 0 200px;
    border-top: 2px solid rgba(0, 0, 0, .05);
}

.room-card-title {
    border-radius: 3px 3px 0 0;
    padding: 16px 10px 4px 10px;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;
    color: #777; /* color of ellipsis */
}

.room-card-title a {
    font-weight: normal;
}

.room-card-title-icons {
    float: right;
    color: #777;
    font-size: 12px;
    line-height: 20px;
    display: inline-block;
}

.room-card-title-icons .fa {
    color: #999;
}

.room-card-desc {
    padding: 4px 10px 12px 10px;
    word-break: break-all;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: #777;
}

.room-card-desc p {
    padding: 0;
    margin: 0;
}

.room-card:empty {
    height: 0;
    border: 0;
    margin: 0 8px;
}
